#root{
    background-color: rgba(165, 170, 172, 0.226);
    color:white;
    border: rgba(218, 211, 211, 0.575);
    position:relative;
    width: 50%;
    height: 50%;
    text-align: center;
    margin-top: 5%;
}
.clock{
    
    background-color: black;
    /* border : 5px solid rgba(218, 211, 211, 0.575); */
    /* margin: 5% 5% 5% 5%;
    border-radius: 5%;
    text-align: center; */
    font-family: 'Times New Roman', Times, serif;

}
